body 	{margin:0;padding:0;font-family:Arial;font-size:12px;line-height:18px;color:#252a30;background:url(images/bg-header.gif) top repeat-x}
p		{margin-top:0px}
form	{margin:0;padding:0;display:inline}
input, select, textarea {font-family:Arial;font-size:12px;color:#252a30;padding:2px}
a 		{color:#005596;text-decoration:none}
a:hover {color:#ff0000}
a img	{border:none}
.clear	{clear:both}
.left	{float:left}
.right	{float:right}
h1, h2, h3 {padding:0px; margin:0px;}

#header			{width:940px;margin-left:auto;margin-right:auto;}
#content		{width:940px;margin-left:auto;margin-right:auto;}

.header_slide_home		{width:614px;height:322px;overflow:hidden;}
.header_slide_home ul 	{margin:0;padding:0;list-style:none;display:block;}
.header_slide_home li 	{width:614px;height:322px;display:block;float:left;}

.brand_slide {width:940px;margin-left:auto;margin-right:auto;}
.brand_content {width:880px;margin-left:auto;margin-right:auto;}
.brand_content ul {margin:0;padding:0;list-style:none;display:block;}
.brand_content li {display:block;float:left;width:140px;margin-left:17px;margin-right:17px;cursor:pointer;}	

.menu_main {position:absolute;width:294px;height:352px;background:url(images/category-menu.gif) no-repeat;padding-top:5px;}
.menu_main_text {width:294px;height:43px;line-height:43px;}
.menu_main_text span {padding-left:60px}
.menu_sub {position:absolute;width:645px;height:350px;margin-left:293px;z-index:9999;border:1px solid #999;background-color:#FFF;box-shadow:0 6px 12px #999;line-height:26px;display:none}

.search_box {float:right;width:646px;height:53px;background:url(images/search-box.gif);}
.search_cat {float:left;width:205px;text-align:center}

.text_red		{color:#cb2028}
.text_red a 	{color:#cb2028}
.text_red a:hover {color:#0066cc}

.text_black		{color:#252a30;font-size:12px}
.text_black a 	{color:#252a30}
.text_black a:hover {color:#cb2028}

.text_blue		{color:#0056ff}
.text_blue a 	{color:#0056ff}
.text_blue a:hover {color:#cb2028}

.txt_quantity_order{
	width:38px;
	height:22px;
	line-height:22px;
	text-align:center;
	color:#FF0000;
	vertical-align:middle;
	font-weight:bold;
}	