<LINK media=all href="calendar-blue2.css" type=text/css rel=stylesheet>
<SCRIPT src="calendar.js" type=text/javascript></SCRIPT>
<SCRIPT src="calendar-en.js" type=text/javascript></SCRIPT>
<SCRIPT src="calendar-setup.js" type=text/javascript></SCRIPT>

<p>

<INPUT id=f-calendar-field-1 name=arrival>
<A id=f-calendar-trigger-1 href="">
<IMG style="BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px" 
 height=14 alt="" src="img.gif" width=20></A>

<SCRIPT type=text/javascript>
Calendar.setup({"ifFormat":"%m/%d/%Y","daFormat":"%Y/%m/%d","firstDay":0,"showsTime":false,"showOthers":true,"timeFormat":24,"inputField":"f-calendar-field-1","button":"f-calendar-trigger-1"});
</SCRIPT>

</p>
<p>

<INPUT id=f-calendar-field-2 name=departure>
<A id=f-calendar-trigger-2 href="">
<IMG style="BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px" 
height=14 alt="" src="img.gif" width=20></A>
<SCRIPT type=text/javascript>
Calendar.setup({"ifFormat":"%m/%d/%Y","daFormat":"%Y/%m/%d","firstDay":0,"showsTime":false,"showOthers":true,"timeFormat":24,"inputField":"f-calendar-field-2","button":"f-calendar-trigger-2"});
</SCRIPT>
  
</p>
