DIV.calendar {
	POSITION: relative;
}
.calendar {
	BORDER-RIGHT: #206a9b 1px solid; BORDER-TOP: #206a9b 1px solid; FONT-SIZE: 11px; BACKGROUND: #f1f8fc; BORDER-LEFT: #206a9b 1px solid; CURSOR: default; COLOR: #000; BORDER-BOTTOM: #206a9b 1px solid; FONT-FAMILY: tahoma,verdana,sans-serif
}
.calendar TABLE {
	BORDER-RIGHT: #206a9b 1px solid; BORDER-TOP: #206a9b 1px solid; FONT-SIZE: 11px; BACKGROUND: #f1f8fc; BORDER-LEFT: #206a9b 1px solid; CURSOR: default; COLOR: #000; BORDER-BOTTOM: #206a9b 1px solid; FONT-FAMILY: tahoma,verdana,sans-serif
}
.calendar .button {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.calendar .nav {
	BACKGROUND: url(menuarrow2.gif) #007ed1 no-repeat 100% 100%


}
.calendar THEAD .title {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #000; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.calendar THEAD TR {
	BACKGROUND: #007ed1; COLOR: #fff
}
.calendar THEAD .daynames {
	BACKGROUND: #c7e1f3
}
.calendar THEAD .name {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #206a9b 1px solid; TEXT-ALIGN: center
}
.calendar THEAD .weekend {
	COLOR: #a66
}
.calendar THEAD .hilite {
	BORDER-RIGHT: #016dc5 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #016dc5 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #016dc5 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #016dc5 1px solid; BACKGROUND-COLOR: #34abfa
}
.calendar THEAD .active {
	BORDER-RIGHT: #008aff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #008aff 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #008aff 1px solid; COLOR: #339933; PADDING-TOP: 2px; BORDER-BOTTOM: #008aff 1px solid; BACKGROUND-COLOR: #006aa9
}
.calendar TBODY .day {
	PADDING-RIGHT: 4px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 2em; COLOR: #339933; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.calendar TBODY .othermonth {
	FONT-SIZE: 80%; COLOR: #bbb
}
.calendar TBODY .oweekend {
	COLOR: #fbb
}
.calendar TABLE .wn {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 2px; BACKGROUND: #c7e1f3; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.calendar TBODY .rowhilite TD {
	BACKGROUND: #def
}
.calendar TBODY .rowhilite TD.wn {
	BACKGROUND: #f1f8fc
}
.calendar TBODY TD.hilite {
	BORDER-RIGHT: #8fc4e8 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #8fc4e8 1px solid; PADDING-LEFT: 1px; BACKGROUND: #def; PADDING-BOTTOM: 1px; BORDER-LEFT: #8fc4e8 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #8fc4e8 1px solid
}
.calendar TBODY TD.active {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #cde; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.calendar TBODY TD.selected {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; COLOR: #339933; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid
}
.calendar TBODY TD.weekend {
	COLOR: #339933
}
.calendar TBODY TD.today {
	FONT-WEIGHT: bold; COLOR: #d50000
}
.calendar TBODY .disabled {
	COLOR: #999
}
.calendar TBODY .emptycell {
	VISIBILITY: hidden
}
.calendar TBODY .emptyrow {
	DISPLAY: none
}
.calendar TFOOT .footrow {
	BACKGROUND: #206a9b; COLOR: #fff; TEXT-ALIGN: center
}
.calendar TFOOT .ttip {
	PADDING-RIGHT: 1px; BORDER-TOP: #206a9b 1px solid; PADDING-LEFT: 1px; BACKGROUND: #000; PADDING-BOTTOM: 1px; COLOR: #fff; PADDING-TOP: 1px
}
.calendar TFOOT .hilite {
	BORDER-RIGHT: #178aeb 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #178aeb 1px solid; PADDING-LEFT: 1px; BACKGROUND: #b8daf0; PADDING-BOTTOM: 1px; BORDER-LEFT: #178aeb 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #178aeb 1px solid
}
.calendar TFOOT .active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; BACKGROUND: #006aa9; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.calendar .combo {
	BORDER-RIGHT: #655 1px solid; BORDER-TOP: #655 1px solid; DISPLAY: none; FONT-SIZE: 90%; Z-INDEX: 100; BACKGROUND: #def; LEFT: 0px; BORDER-LEFT: #655 1px solid; WIDTH: 4em; CURSOR: default; COLOR: #000; BORDER-BOTTOM: #655 1px solid; POSITION: absolute; TOP: 0px
}
.calendar .combo .label {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.calendar .combo .label-IEfix {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.calendar .combo .label-IEfix {
	WIDTH: 4em
}
.calendar .combo .hilite {
	BORDER-TOP: #46a 1px solid; FONT-WEIGHT: bold; BACKGROUND: #34abfa; BORDER-BOTTOM: #46a 1px solid
}
.calendar .combo .active {
	BORDER-TOP: #46a 1px solid; FONT-WEIGHT: bold; BACKGROUND: #f1f8fc; BORDER-BOTTOM: #46a 1px solid
}
.calendar TD.time {
	PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #e3f0f9; TEXT-ALIGN: center
}
.calendar TD.time .hour {
	BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #f1f8fc
}
.calendar TD.time .minute {
	BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #f1f8fc
}
.calendar TD.time .ampm {
	BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #f1f8fc
}
.calendar TD.time .ampm {
	TEXT-ALIGN: center
}
.calendar TD.time .colon {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.calendar TD.time SPAN.hilite {
	BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #fff; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #267db7; BORDER-RIGHT-COLOR: #000
}
.calendar TD.time SPAN.active {
	BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; COLOR: #a5ff00; BORDER-TOP-COLOR: red; BACKGROUND-COLOR: #000; BORDER-RIGHT-COLOR: red
}
