body {
	font-family: Arial;
	font-size: 12px;
}

.text {
	color: #1e557b;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.title {
	color: #1e557b;
	font-weight: bold;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.Orange
{
	font-family: Arial;
	font-size: 12px;
	color: #f99b1e;
}

.Blue_Dark
{
	font-family: Arial;
	font-size: 12px;
	color: #1c557b;
}

.Blue_White
{
	font-family: Arial;
	font-size: 12px;
	color: #6b90aa;
}

.Blue_Light
{
	font-family: Arial;
	color: #adc6d7;
	font-size:11px;
}

.Blue_Link
{
	font-family: Arial;
	font-size: 12px;
	color: #3472cb;
}