select {
	height:17;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.header {
	font-family:"Times New Roman", Times, serif;
	font-size: 22px;
	font-weight:bold;
	color:#0b55c4;
	padding:10;
}
.toolbar_text {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0b55c4;
	text-align:center;
}
.toolbar {
	border:solix 1px #fbfbfb;
	cursor:pointer;
}
	.toolbar_hover {
		border-top:solid 1px #eee;
		border-left:solid 1px #eee;
		border-bottom:solid 1px #ccc;
		border-right:solid 1px #ccc;
		cursor:pointer;		
	}
.toolbar_icon {
	background-position:top;
	background-repeat:no-repeat;
}
.login_note {
	padding-left:15;
	padding-right:15;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.login_left {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:right;
	color:#666666;
	padding-right:5;
}
.login_right input {
	width:80%;
	border:solid 1px #c0c0c0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.login_ok {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666666;
	padding-left:10;
	padding-right:5;
}

.core_border {
	border:solid 1px #e7e7e7;
}

.core_row {
	background:#FFFFFF;
}
	.core_row_over {
		background:#ffffdd;
	}
.core_row2 {
	background:#E6FFE9;
}
.core_row3 {
	background:#FFFFCC;
}

.core_title {
	background:#f0f0f0;
	height:30;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#0b55c4;
	border-left:solid 1px #FFFFFF;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #999999;
}
.core_title_id {
	background:#f0f0f0;
	height:30;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#666666;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #999999;
}
.core_value {
	height:30;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	color:#0b55c4;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	padding-left:5;
}
	.core_value a {
		color:#0b55c4;
		text-decoration:none;
	}
	.core_value a:hover {
		text-decoration:underline;
	}
	
.core_value_2 {
	height:30;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	color:#008000;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
	padding-left:5;
}
	.core_value_2 a {
		color:#008000;
		text-decoration:none;
	}
	.core_value_2 a:hover {
		text-decoration:underline;
	}
.core_value_id {
	height:30;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	border-right:solid 1px #e7e7e7;
	border-bottom:solid 1px #e7e7e7;
}
.core_value_input {
	width:50%;
	height:17;
	border:solid 1px #c0c0c0;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.detail_title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#0b55c4;
	padding-left:5;
	padding-right:5;
	text-align:center;
}
.detail_left {
	background:#f6f6f6;
	text-align:right;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	height:22;
	padding-right:5;
	border-bottom:solid 1px #E9E9E9;
	border-right:solid 1px #E9E9E9;
	border-left:solid 1px #FFFFFF;
	border-top:solid 1px #FFFFFF;
}
.detail_right {
	padding-left:5;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	white-space:nowrap;
}
	.detail_right input {
	vertical-align: text-bottom;
	height:20;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	.detail_right select {
		height:17;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
	}

.footer {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	height:25;
}
	.footer a {
		color:#0b55c4;
	}	
.nav {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	background:#f0f0f0;
	text-align:center;
	color:#333333;
    border-left:solid 1px #FFF; 
	border-right:solid 1px #d8d8d8;
	padding-left:13;
	padding-right:13;
}
	.nav_hover {
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight:bold;
		text-align:center;
		color:#333333;
		background:#e7eddf;
	    border-left:solid 1px #6d9d2e; 
		border-right:solid 1px #6d9d2e;	
		padding-left:13;
		padding-right:13;		
	}
.nav_text {
	padding-left:5;
	padding-right:10;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0b55c4;
	background:#f0f0f0;
	cursor:pointer;
}
.hide_bar {
	cursor:pointer;
	visibility:visible;
	position:absolute;
	border:solid 1px #CCCCCC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.hide_text {
	padding-left:10px;
	padding-right:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	background:#f6f6f6;
	white-space:nowrap;
}
.icon {
	background:#e2e2e2;
	text-align:center;
	width:23px;
}

.subnav {
    border-left:solid 1px #e2e2e2; 
	border-right:solid 1px #f6f6f6;
	height:23px;
	width:100%;
}
	.subnav_hover {
	    border:solid 1px #6d9d2e; 
		height:23px;	
		width:100%;
	}
	
.home {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#333333;
	text-align:center;
}

.text {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}