/* Elastislide Style */
.es-carousel-wrapper { padding: 0 35px; position: relative; }
.es-carousel { overflow: hidden; }
        .es-carousel ul li { display: block; float: left; height: 100%; }
            .es-carousel ul li span a { color: #FFFFFF; font-weight: bold; margin-top: 5px; font-size: 12px; }
            .es-carousel ul li a { display: block; }
                .es-carousel ul li a img { height: 120px; width: 120px; border: none; }
.es-nav span { background: transparent url(../images/nav.png) no-repeat top left; cursor: pointer; height: 26px; left: 12px; margin-top: -13px; opacity: 0.8; position: absolute; text-indent: -9000px; top: 50px; width: 20px; }
    .es-nav span.es-nav-next { background-position: top right; left: auto; right: 12px; }
    .es-nav span:hover { -moz-opacity: 1.0; opacity: 1.0; }
