.wt-rotator { font-family: Arial,Helvetica,sans-serif; font-size: 12px; position: relative; width: 1123px; height: 470px; overflow: hidden; }
    .wt-rotator a { outline: none; }
.main-img { display: none; position: absolute; top: 0; left: 0; z-index: 0; border: 0; }
.preloader { background: #000; float: left; width: 34px; height: 34px; position: absolute; top: 0; left: 0; z-index: 4; display: none; }
#timer { position: absolute; top: 0; left: 0; height: 4px; background-color: #fff; z-index: 4; visibility: hidden; }
.inner-bg { position: absolute; width: 100%; height: 100%; background-color: #000; z-index: 0; }
.inner-text { position: absolute; padding: 10px; z-index: 1; }
.block, .vpiece, .hpiece { position: absolute; z-index: 2; }
.thumbnails ul { list-style: none; margin: 0; padding: 0; }
.thumbnails li { display: none; }
.thumbnails ul li { list-style: none; }
    .thumbnails ul li a { list-style: none; }
.panel { margin: 0 auto; width: 827px; min-height: 100%; text-align: left; }